#
# git ignore file for toppers-jps
#

# ignore tag files
GPATH
GRTAGS
GTAGS

# ignore build object
*.o

# ignore configuration tools and temporary files
cfg/Makefile.depend
cfg/cfg
cfg/chk

# ignore build files
build/*

